/* ============================================= */
/*                     Buttons                   */
/* ============================================= */

.fa-search {
    color: $color-primary;
  
}

.container-serach button {
    border: none;
    cursor: pointer;
}
