/* ============================================= */
/*                     Buttons                   */
/* ============================================= */

.fa-search {
    color: $color-primary;
  
}

.container-search button {
    border: none;
    cursor: pointer;
    background: none;
}
