/* ============================================= */
/*                 Page Layout                   */
/* ============================================= */

//------------------- Header ----------------------
//-------------------- Nav ------------------------
//-------------------- Main -----------------------
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
//---------------- widget Traffic -----------------
.widget-traffic {
    width: 100%;
    border: solid 1px red;
}
//-------------- Widget Daily Traffic -------------
.widget-dailyTraffic {
    width: 100%;
    border: solid 1px red;

    @include mq('tablet') {
        width: 50%;
        padding-bottom: 1em;
    }
}

//-------------- Widget Mobile Users --------------
.widget-mobileUsers {
    width: 100%;
    border: solid 1px red;

    @include mq('tablet') {
        width: 50%;
        padding-bottom: 1em;
    }
}


//-------------- Widget social Stats --------------
.widget-socialStats {
    width: 100%;
    border: solid 1px red;
}

//-------------- Widget New Members  --------------
.widget-newMembers {
    width: 100%;
    border: solid 1px red;

    @include mq('tablet') {
        width: 50%;
    }
}

//-------------- Widgets Recent Activity ----------
.widget-recentActivity {
    width: 100%;
    border: solid 1px red;

    @include mq('tablet') {
        width: 50%;
    }
}

//-------------- Widget message Users -------------
.widget-messageUser {
    width: 100%;
    border: solid 1px red;

    @include mq('tablet') {
        width: 50%;
    }
}

//---------------- Widget Settings ----------------
.widget-settings {
    width: 100%;
    border: solid 1px red;

    @include mq('tablet') {
        width: 50%;
    }
}


#widget-traffic-chart {
    display: block;
    max-width: 100%;
    margin-top: 10px;
}

