/* ============================================= */
/*                 Page Layout                   */
/* ============================================= */

//------------------- Header ----------------------
.app-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    @include mq('tablet') {
        align-items: center;
    }
}

.app-header h1 {
    align-self: center;
    width: 100%;
    text-align: center;
   
    @include mq('tablet') {
        flex-grow: 1;
        padding-left: .5em;
        width: auto;
        text-align: justify;
    }
}

.notification {
    align-self: center;
    width: 10%;

    @include mq('tablet') {
        width: 1.45em;
    }
}

.container-avatar {
    display: flex;
    align-items: center;
    margin-bottom: .5em;
    width: 65%;
    align-self: flex-end;
   
    @include mq('tablet') {
        width: 12em;
        align-self: auto;
        margin-bottom: 0;
    } 
}

//-------------------- Nav ------------------------
//-------------------- Main -----------------------