/* ============================================= */
/*              Navigation                       */
/* ============================================= */

.app-nav {
    background-color: $color-secondary;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mq('tablet') {
        flex-flow: column nowrap;
        height: 100%;
        justify-content: flex-start;
        width: fit-content;
    }
}

// .app-nav {
//     background-color: $color-secondary;
// }


.app-nav a {
    display: block;

    @include mq('tablet') {
        padding: 1em;
    }
}
