/* ============================================= */
/*                 Social Stats                  */
/* ============================================= */

//Done

.widget-socialStats {
    @include mq('tablet') {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin-bottom: 1em;
    }
}

.widget-title {
    width: 100%;
    text-align: center;

    @include mq('tablet'){
        text-align: left;
        padding-left: 2.5%;
    }

    @include mq('laptop') {
        padding-left: 4%;
    }
}

.container-socialStats {
    border: 1px solid $color-gray;
    display: flex;
    height: 100px;
    justify-content: space-around;
    margin: 1em;
    background: $color-offwhite;

    @include mq('tablet'){
      width: 95%;
      align-items: center;
    }

    @include mq('laptop') {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
    }
}

.container-socialIcon {
    margin: auto;
    width: 60px; 
    background: $color-primary;
    border-radius: 50%;

    @include mq('laptop') {
        margin: 0 0 0 .4em;
    }
}

.container-socialIcon svg {
    transform: scale(0.5);
}

.container-socialData {
    width: 70%;
    padding-left: 1em;

    @include mq('tablet') {
        padding-top: 1em;
        text-align: right;
        padding-right: 2em;
        margin-right: 1em;
    }


    @include mq('laptop') {
        text-align: left;
    }
}

.container-socialData p {
    font-size: 30px;
    margin-top: .25em;
}

.socialData-title {
    color: $color-primary;
    margin-bottom: 0;
}