  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */

  body {
    font-family: $font-primary;
  }

  .app-header {
    color: $color-white;
  }

  ul,
  p {
    list-style-type: none;
    font-size: 13px;
  }