  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */

  body {
    font-family: $font-primary;
  }

  .app-header {
    color: $color-white;
  }

  ul {
    list-style-type: none;
  }